body
{
    max-width: 100%;
    background-color: rgb(42, 45, 77);
    color: white;
}

.turn-container
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.turn-box
{
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid;
}

#box
{
    margin: auto;
    margin-top: 60px;
    max-width: 325px;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    
}

.num-box
{
    text-align: center;
    padding: 30px 10px;
    font-size: 2.5rem;
    border: 1px solid white;
}